<p-toast></p-toast>

<div class="card">
    <!-- <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="Ajouter un employé"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="openNew()"
            ></button>
            <button
                pButton
                pRipple
                label="Supprimer la sélection"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteSelectedUsers()"
                [disabled]="!selectedUsers || !selectedUsers.length"
            ></button>

        </ng-template>


         <ng-template pTemplate="right">
            <button
                pButton
                pRipple
                label="Export PDF"
                icon="pi pi-export"
                class="p-button-help"
                (click)="ExportPDF()"
            ></button>

        </ng-template>

    </p-toolbar> -->

    <p-table
        #dt
        [value]="users"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['username', 'email', 'firstName', 'lastname','role']"
        responsiveLayout="scroll"
        [(selection)]="selectedUsers"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Users</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                    #globalSearch
                        pInputText
                        type="text"
                        (input)=" dt.filterGlobal(
                                        globalSearch.value,
                                        'contains'
                                    )
                                "
                        placeholder="Search..."
                        class="recherche"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                
                <th pSortableColumn="email">
                    Email <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="firstname">
                    First name <p-sortIcon field="firstname"></p-sortIcon>
                </th>
                <th pSortableColumn="lastname">
                    Last Name <p-sortIcon field="lastname"></p-sortIcon>
                </th>
                <th pSortableColumn="country">
                    Country <p-sortIcon field="country"></p-sortIcon>
                </th>
                <th pSortableColumn="birthDate">
                    Birth Date <p-sortIcon field="birthDate"></p-sortIcon>
                </th>
                <th pSortableColumn="role">
                    Role <p-sortIcon field="role"></p-sortIcon>
                </th>
                
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user [disabled]="user.status==false">
            <tr >
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
               
                <td >{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.country}}</td>
                <td>{{ user.birthDate|date:'dd/MM/yyyy'}}</td>
                <td>{{ user.role}}</td>
                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="editUser(user)" [disabled]="user.role=='admin'"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"
                        (click)="deleteUser(user)" [disabled]="user.role=='admin'"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In all there are {{ users ? users.length : 0 }} user(s).
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog
    [(visible)]="userDialog"
    [style]="{ width: '450px' }"
    header="User Details"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field">
            <label for="firstname">FirstName</label>
            <input
                type="text"
                pInputText
                id="firstname"
                [(ngModel)]="user.firstName"
                required
                autofocus
            />
            <small class="p-error" *ngIf="!user.firstName"
                >firstName is required.</small
            >
        </div>

        <div class="field">
            <label for="lastName">LastName</label>
            <input
                type="text"
                pInputText
                id="lastName"
                [(ngModel)]="user.lastName"
                required
                autofocus
            />
        </div>

       

        <div class="field">
            <label for="email">Email</label>
            <input
                type="email"
                pInputText
                id="email"
                [(ngModel)]="user.email"
                required
                autofocus
                disabled
            />
            <small class="p-error" *ngIf="!user.email"
                >Email is required.</small
            >
        </div>
        <div class="field">
            <label for="country">Country</label>
            <select pInputText id="country" required
            autofocus>
                <option pInputText value="{{user.country}}" [(ngModel)]="user.country">{{user.country}}</option>
            </select>
            <small class="p-error" *ngIf="!user.country"
                >country is required.</small
            >
        </div>
        <div class="field">
            <label for="birthDate">Birth Date</label>
            <input
                type="Date"
                pInputText
                id="birthDate"
                [(ngModel)]="user.birthDate"
                required
                autofocus
                
            />
            <small class="p-error" *ngIf="!user.birthDate"
                >Birth Date is required.</small
            >
        </div>
     
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-danger"
            (click)="hideDialog()"
        ></button>
        <button
            pButton
            pRipple
            label="Save"
            icon="pi pi-check"
            class="p-button-success mr-2"
            (click)="saveUser()"
        ></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
