<p-toast></p-toast>

<div class="card">
    <p-table
        #dt
        [value]="experiences"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['title', 'idClient']"
        responsiveLayout="scroll"
       
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Experiences Manage </h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                    #globalSearch
                        pInputText
                        type="text"
                        (input)=" dt.filterGlobal(
                                        globalSearch.value,
                                        'contains'
                                    )
                                "
                        placeholder="Search..."
                        class="recherche"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                
                <th pSortableColumn="title">
                    Title <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th pSortableColumn="image">
                    Image <p-sortIcon field="image"></p-sortIcon>
                </th>
                
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-experience>
            <tr>
                <td>
                    <p-tableCheckbox [value]="experience"></p-tableCheckbox>
                </td>
               
                <td>{{ experience.title }}</td>
                <td>
                    <img src="{{experience.image}}" width="100" heigth="50"/>
                    
                </td>
                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-info"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="detailsExperience(experience)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"
                        (click)="deleteExperience(experience._id)"
                    ></button>
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>
<p-dialog
    [(visible)]="userDialog"
    [style]="{ width: '450px' }"
    header="Experience Details"
    [modal]="true"
    styleClass="p-fluid"
    
>
    <ng-template pTemplate="content">
        <div class="field">
            <label for="user">User</label>
            <input
                type="text"
                pInputText
                id="user"
                [value]="user"
                required
                autofocus
                disabled
            />
            
        </div>

        <div class="field">
            <label for="category">Catgory</label>
            <input
                type="text"
                pInputText
                id="category"
                [value]="category"
                required
                autofocus
                disabled
            />
           
        </div>
        
        <div class="field">
            <label for="description">Description</label>
            <input
                type="text"
                pInputText
                id="category"
                [(ngModel)]="experience.description "
                required
                autofocus
                disabled
            />
           
        </div>
        <div class="field">
            <label for="nblikes">Number of likes</label>
            <input
                type="text"
                pInputText
                id="nblikes"
                [(ngModel)]="experience.likes.nb "
                required
                autofocus
                disabled
            />
           
        </div>
        <div class="field">
            <label for="nbunlikes">Number of unLikes</label>
            <input
                type="text"
                pInputText
                id="nbunlikes"
                [(ngModel)]="experience.unLikes.nb "
                required
                autofocus
                disabled
            />
           
        </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-danger"
            (click)="hideDialog()"
        ></button>
        
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>